@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,600;0,700;1,500;1,600;1,700&display=swap');


.carousel-caption {
    top: 20px;
    color: black;
    bottom: auto;
    font-weight: bold;
    font-style: italic;
    font-family: 'Lora', serif;
}

#abt{
    text-align: center;
    font-weight: bold;
    font-style: italic;
    font-family: 'Lora', serif;
    padding-bottom: 40px;
}

.flip-box{
    transform-style:preserve-3d ;
    perspective: 1000px;
    cursor: pointer;
    margin-top: 50px;

}

.flip-box-front, .flip-box-back{
    /* background-size: cover; */
    background-size: 80% auto;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 8px;
    min-height: 475px;
    transition: transform 0.7s cubic-bezier(.4,.2,.2,1);
    backface-visibility: hidden;
}

.flip-box-front{
    transform: rotateY(0deg);
    transform-style: preserve-3d;

}

.flip-box:hover .flip-box-front{
    transform: rotateY(-180deg);
    transform-style: preserve-3d;
}

.flip-box-back{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    transform: rotateY(180deg);
    transform-style: preserve-3d;
}

.flip-box:hover .flip-box-back{
    transform: rotateY(0deg);
    transform-style: preserve-3d;
}

.flip-box .inner{
    position: absolute;
    left: 0;
    width: 100%;
    padding: 20px;
    outline: 1px solid transparent;
    perspective: inherit;
    z-index: 2;
    transform: translateY(-50%)translateZ(60px) scale(.94);
    top: 50%;
}

.flip-box-header{
    font-size: 30px;
}

.flip-box p{
    font-size: 20px;
    line-height: 1.5rem;
}

.flip-box-img{
    margin-top: 25px;

}

.flip-box-button{
    background-color: transparent;
    border: 2px solid #fff;
    border-radius: 2px;
    color: #fff;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    margin-top: 25px;
    padding: 15px 20px;
    text-transform: uppercase;
}


.figs{
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    font-style: italic;
    font-family: 'Lora', serif;
    color: blueviolet;
    
}

#tit{
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    font-style: italic;
    font-family: 'Lora', serif;
    color: blueviolet;
}

#sp{
    font-size: 60px;
    text-align: center;
    font-weight: bold;
    font-style: italic;
    font-family: 'Lora', serif;
    color: blueviolet;
    margin-bottom: 30px;
}

#vid{
    -webkit-filter: blur(5px); /* Safari 6.0 - 9.0 */
filter: blur(5px);
}
